body {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.container {
    position: relative;
    z-index: 1;
}
.glow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vw;
    height: 150vh;
    background: radial-gradient(circle, rgba(9, 9, 9, 0.95) 0%, rgba(182, 182, 228, 0.858) 100%);
    filter: blur(100px);
    z-index: 0;
}
.card {
    background: rgba(23, 21, 22, 0.941);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg);
    transition: all 0.3s ease;
}
.card-title {
    color:rgb(252, 17, 146);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;

}
.card-text {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    
}
.card:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 20px #ff00c880;
}
.card-img-top {
    object-fit: fill;
    height: 200px;
}
.btn-primary, .btn-secondary {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}
.btn-primary:hover, .btn-secondary:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px #6200ff80;
}