
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    animation: rotate 8s linear infinite;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.red {
    background-color: red;
    top: 0;
    left: 0;
}

.blue {
    background-color: blue;
    top: 0;
    right: 0;
}

.green {
    background-color: green;
    bottom: 0;
    left: 0;
}

.yellow {
    background-color: yellow;
    bottom: 0;
    right: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


