@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
.logo-circle {
  width: 100px; 
  height: 100px;
  background-color: #333;
  border-radius: 50%; 
}

ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.bg-header{
 background-color: var(--danger);

}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: auto;
}

nav{
  font-size: 14px;

}
.navbar-brand{
  font-size: 14px;
}
.navbar-brand img {
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  object-fit: cover; 
}
.nav-link:link , .nav:visited {
  color:hsl(326, 66%, 49%)

}

.nav-link:hover , .nav-link:active{
  color: var(--inverse)

}

.navbar -nav .nav-link {
  color:#ea44c0;
  background-color: rgb(229, 75, 111);
  border-radius: 5px;
  margin-right: 5px;

}
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover {
  background-color: #d83767e8;
}
.bg-dark {
  background-color: rgba(251, 26, 157, 0.895);
}
.text-white {
  color:#0a0a0aee
}
.homepage-bg {
  background-image: url("../images/secondbg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  position: relative;
  
}



.content {
  position: relative;
  z-index: 1; 
}



.styled-text {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;

}
.styled-text span {
  color:rgb(184, 16, 108);
  text-shadow: 2px 2px 2px hwb(265 2% 69%);

}
.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #bd377ee1;
  font-size: 20px;
}
.contact-form {
  max-width: 400px;
  margin-top: -20px;
}
.image-container {
  display: flex;
 
  width: 400px; 
  text-align: center;
}

.image-with-text {
  display: flex;
  align-items: center;
}

.image-with-text img {
  max-width: 100%;
  margin-right: 20px; 
  display: flex;
}


.modal-content {
  background-color: #f36ac1;
}

.modal-header, .modal-body {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}


th, td {
  border: 1px solid #dee2e6;
  padding: 10px;
}

th {
  background-color: #f8f9fa;
}

.highlight-text {
  color: #a227b5; 
  font-weight: bold;
}

.large-text {
  font-size: 14px;
}

.booking-form {
  max-width: 500px;
  margin: 0 auto;

}

.booking-modal .modal-dialog {
  max-width: 300px;
}
.booking-modal .modal-content {
  padding: 20px;
}


.faq-window {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 100px auto; /* Center the window vertically and horizontally */
}



.centered-carousel {
  display: flex;
  justify-content: center;
  align-items: center;

 
}



.carousel-caption {
  text-align: center;
}




.product-card {
  border: 1px solid #fd18b0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.product-img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.product-title {
  font-weight: bold;
  color:#ea44c0;
}




.circle-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-top: 50px ;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  background-color: #e5e9ed;
  color: #fff;
  text-align: center;
  padding: 20px;

}
.circle h2{
  font-size: 24px;
  margin-bottom: 10px;
  color: blue;
}



.circle p1{
  font-size: 16px;
  color: purple;
}
.circle p2 {
  font-size: 16px;
  color:rgb(221, 75, 116);
}
.circle p3 {
  font-size: 16px;
  color:hsla(146, 78%, 2%, 0.826);
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px;
}


.back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.back-to-top-btn i {
  font-size: 24px;
  line-height: 50px;
}





.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.title-box {
  background-color: #f8f9fa;
 
  border-radius: 10px;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 30px 0;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  display: inline;
  margin-right: 20px;
}
.footer ul li:last-child {
  margin-right: 0;
}
.footer ul li a {
  color: #ffffff;
  text-decoration: none;
}
