body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

.about-section {
    text-align: center;
    padding: 20px 0;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: fill;
}

.contact-btn {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.contact-btn:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.about-me-section {
    margin-top: 5px;
    padding: 50px 20px;
    background-color: #ffffff;
    color: grey;
    text-align: center;
}

.skill {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.skills-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 6px;
}

.work-experience-section {
    padding: 20px;
    color: grey;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

.work-card {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-section {
    padding: 40px 0;
    background-color: white;
}

.portfolio-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
    transform: translateY(-5px);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.socials i {
    font-size: 1.5rem;
    color: #c20000;
    margin-right: 10px;
    cursor: pointer;
}

.socials i:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .skills-section {
        grid-template-columns: 1fr;
    }
}