@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 120

FONT SIZE SYTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/



  :root {
    --primary: #0275d8;
    --success: #5cb85c;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --inverse: #292b2c;
    --default: #f7f7f7;
}

*{
  padding: 0;
  margin: 0
  box-sizing: border-box;
}


html{

 font-size: 62.5%;
 
}
body{

  font-family: "Monteserrat", sans-serif;
  color: #d9534f
  font-size: 1.8rem;
  line-height: 1.6;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.bg-header{
 background-color: var(--danger);

}
nav{
  font-size: 9rem;

}
.navbar-brand{
  font-size: 2.4rem;
}

.nav-link:link , .nav:visited {
  color:#f8f7f8

}

.nav-link:hover , .nav-link:active{
  color: var(--inverse)

}
.custom-background{
  background-image: url('/html_css_responsivep2/assets/images/port15.jpg');
  background-repeat: repeat-x, repeat-y;
  background-attachment: fixed; 
  background-position: center;
}
.navbar -nav .nav-link {
  color:#7f0602;
  background-color: black;
  border-radius: 5px;
  margin-right: 10px;
}
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover {
  background-color: #0e0101e8;
}
.bg-dark c{
  background-color: rgba(15, 3, 3, 0.374);
}
.text-white {
  color:#f7f7f7
}
